

#topBar
{
	padding-top: 10px;
    background-color: #f8f8f8;
    box-shadow:inset 0 -1px 3px 1px rgba(0,0,0,.05);
    font-size: 15px;
    color: 	#C0C0C0;
}
#topBar ul
{
	list-style-type: none;
	display: flex;
}
#topBar li
{
    margin-right: 10px;
}
#topBar p
{
	text-align: center;
	font-weight: 600;
}
#topBar i
{
	margin-left: 4px;
    margin-right: 4px;
}
#topBar a
{
	color: 	#C0C0C0;
}
#topBar a:hover
{
	color: 	#808080;
	text-decoration: none;
}
.topInfo
{
	padding-left: 0;
}
.socialIcons
{
	font-size: 18px;
}
.topBannerNav
{
	border-bottom: 1px solid #c0c0c073;
	padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 0;
}
.logoCase img
{
	width: 60%;
	margin-top: 5%;
	padding-left: 0;
}
.mainNav ol
{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	margin-top: 6%;
	font-size: 16px;
}
.firstButton 
{
	padding: 18px;
    background-color: #d3c0b4;
    color: #fff;
}
.mainNav a
{
	text-decoration: none;
}
.mainNav a:hover
{
	color: #fff;
}
.otherButton
{
	padding: 18px;
	color: #C0C0C0;
}
.otherButton:hover
{
	color: #fff;
	background-color: #d3c0b4;
}
h1
{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;

}
.mainTitle
{
	font-weight: 200;
	font-family: system-ui;
	font-size: 50px;
}
.bannerMain
{
	width: 100%;
    height: 600px;
    background-color: #d3c0b4;
}
.resume 
{
	text-align: center;
	padding: 5%;
    line-height: 30px;
}
.resume h3
{
	margin-bottom: 25px;
}
.boldText
{
	font-weight: 600;
}
.goldText
{
	color: #d3c0b4;
	font-weight: 600;
}
.bannerSeparation
{
	width: 100%;
	height:180px;
	background-color: #d3c0b4;
}
.bannerSeparation h2
{
	text-align: center;
	padding-top: 2%;
    font-size: 48px;
}
.bannerSeparation p
{
	text-align: center;    
	font-size: 30px;
    color: #fff;
}
.bannerSeparation a
{
	text-decoration: none;
}
.serviceMain h3, .howWorkMain h3, .contactMain h3, .skillMain h3, .projectMain h3
{
	text-align: center;
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 20px;

}
.serviceBlock, .howWorkBlock, .contactMain; .skillMain, .projectMain
{
	padding:2%;

}
.serviceMain , .howWorkMain , .contactMain , .skillMain , .projectMain 
{
	margin-bottom: 80px;
}
.serviceBlock h4, .howWorkBlock h4
{
	text-align: center;
	font-size: 22px;
}
.contactMain h4
{
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
.serviceBlock p , .howWorkBlock p 
{
	text-align: center;
	padding: 7%;
}
.design, .responsive, .hebergement , .stepOne, .stepTwo, .stepThree
{
	padding: 1%;
}
.design img,.responsive img,.hebergement img, .stepOne img, .stepTwo img, .stepThree img, .frontEnd img, .backEnd img, .cmsBlock img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 10%;
    margin-top: 5%;
}
 .backEnd img
{
	width: 40%;
}
.frontEnd img
{
	width: 47%;
}
.cmsBlock img
{
	width: 55%;
}
.sectionTitle {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    text-align: center;
}
.sectionTitle ::before {
    left: 20%;
}
.sectionTitle ::after {
    right: 20%;
}
.sectionTitle ::after, .sectionTitle ::before {
    position: absolute;
    top: 72%;
    width: 280px;
    height: 1px;
    background-color: #C0C0C0;
    content: '';
}
footer
{
	width: 100%;
	height: 400px;
	background-color: #d3c0b4;
	position: relative;
}
.copyright
{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: #745c4c;
	color: #d3c0b4;
	height: 50px;
	padding: 15px;

}
.logoCaseFooter, .infoDevFooter, .infoContactFooter, .navFooter
{
	padding:20px;
}
.infoFooter img
{

	width: 100%;
	padding: 15px;
}
.footerNav, .footerNav ol
{
	padding: 0;
	margin: 0;
}
.footerNav a
{
	text-decoration: none;
	color: black;
}
.footerNav li
{
	padding: 8px 0px;
}
.footerNav a:hover
{
	color: #fff;
}

.footerNav ol
{
	list-style-type: none;
	justify-content: space-around;
	margin-top: 6%;
	font-size: 16px;
}
.infoFooter
{
	padding-top: 20px;
}
.projectBlock
{
	border: 1px solid #c0c0c073;
}
.projectTitle
{
	border-bottom: 1px solid #c0c0c073;
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;
}
.projectBlock h5
{
	font-weight: 600;
	font-size: 16px;
	padding: 10px 0px;
}
.goal img
{
	float: right;
	width: 20%;
    margin: 15px;
}
.projectTitle a
{
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.projectTitle h4
{
	font-size: 22px;
	padding: 15px 0px;
}
.socialIconsFooter ul
{
	list-style-type: none;
	padding: 0;
	line-height: 38px;

}
.socialIconsFooter
{
	font-size: 18px;
	width: 100%;
	padding: 0;
	margin: 0;
}
.socialIconsFooter a
{
	color: black;
	text-decoration: none;
}
.socialIconsFooter a:hover
{
	color: #fff;
}
.socialIconsFooter i
{
	
}
.infoDevFooter p
{
	padding: 10px 70px 10px 0px;
	line-height: 30px;
}
footer i
{
	padding-right: 5px;
}
.questionName, .questionBlockContact, .questionBlockContent
{
	display: flex;
}
.contactMain form
{
	padding: 40px 150px;
}
.contactMain button
{
	margin: 10px;
	background-color: #d3c0b4;
	border:none;
	padding: 15px 15px;
}
.contactMain button:hover
{
	
	background-color: #745c4c;
}
.contactMain  input
{
	margin: 10px;
}
.contactMain textarea
{
	margin: 10px;
	padding: 12px;
	width: 100%;
	height: 200px;
}
.formularyMessage i
{
	padding-left: 5px;
}